* {
  margin: 0;
  padding: 0;
}

.input,
.btn {
  height: 2rem;
}
.input-div {
  padding: 0;
}
.btn-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  padding: 0;
}
.btn-update {
  background-color: #16a085;
  border: none;
}
.btn-cancle {
  background-color: #eb2f06;
  border: none;
}
