.item-row {
  background-color: #434243;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.33rem;
}
.item-row p {
  font-size: 1.3rem;
  margin: 0;
  line-height: 1;
  padding: 1rem 0;
}
.overFlowControl {
  overflow-x: scroll;
  white-space: nowrap;
}
.overFlowControl .lineThrough {
  text-decoration: line-through;
  color: #ef233c;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.overFlowControl::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overFlowControl {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.id {
  color: #ff793f;
}
.icon {
  color: #33d9b2;
  font-size: 1.8rem;
}
.icon:hover {
  color: #ff793f;
}
/*=================================================================*/
/*----------------------Media query start--------------------------*/
/*=================================================================*/

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##Ipad Air width 820px, Ipad mini 768px width
*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ## oneplus6T width 412px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .margin_left {
    /* margin-left: -1rem; */
  }
  .icon {
    font-size: 1rem;
  }
}
/*=================================================================*/
/*----------------------Media query End----------------------------*/
/*=================================================================*/
