.app-row {
  margin: 50px 10px;
  background-color: #ff793f;
  padding: 30px 0;

  border-radius: 10px;
}

/*=================================================================*/
/*----------------------Media query start--------------------------*/
/*=================================================================*/

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##Ipad Air width 820px, Ipad mini 768px width
*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ## oneplus6T width 412px
*/
@media (min-width: 320px) and (max-width: 480px) {
}
/*=================================================================*/
/*----------------------Media query End----------------------------*/
/*=================================================================*/
